<!-- <p>This is the Header</p> -->
<!-- Bootstrap classes that will give the default bootstrap header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- This section does not allow one access with smaller screens -->
        <div class="navbar-header">
            <!-- href is the route you want to go to -->
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">

            <!-- NOTE: Doesn't seem to be very compatible with router links instead of click links,,, -->
            <!-- This section is the same as above, but allows for dropdown link access to those with smaller screens -->
            <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"> -->

            <!-- You can use the section above, or you can simply replace collapse navbar-collapse with navbar-default -->

            <ul class="nav navbar-nav">
                <!-- Another way of passing the event data? -->
                <!-- <li><a href="#" (click)="onSelect('recipe', $event)">Recipes</a></li> -->

                <!-- Needed a new way to navigate after adding in routes
                <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
                <li><a href="#" (click)="onSelect('shoppingList')">Shopping List</a></li> -->
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <!-- span class caret gives you the dropdown arrow -->
                    <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>